* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Jost', sans-serif;
  background-color: #f5f5f5;
}

.container {
  max-width: 400px;
  margin: 3rem auto;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  background-color: white;
  padding: 2rem;
}

h3 {
  font-size: 2rem;
  text-align: center;
  margin-bottom: 2rem;
  color: #333;
}

h2 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
  color: #555;
}

input {
  width: 100%;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 1rem;
}

button {
  display: block;
  width: 100%;
  margin: 1rem auto;
  padding: 0.75rem;
  background-color: #4fc08d;
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #38876d;
}

.result {
  font-size: 2rem;
  text-align: center;
  margin-bottom: 2rem;
  color: #4fc08d;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 1.5rem;
}

table th,
table td {
  padding: 0.5rem;
  text-align: left;
  border-bottom: 1px solid #ccc;
}

table th {
  background-color: #f2f2f2;
  font-weight: normal;
}

table tbody tr:nth-child(even) {
  background-color: #f9f9f9;
}

table tbody tr:hover {
  background-color: #e5e5e5;
}

.remove-button {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  background-color: transparent;
  cursor: pointer;
  transition: color 0.3s ease;
}

.remove-button:hover {
  color: #ff0000;
}
